@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; 
  background: #4831D4;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  overflow-x: hidden;
}


/* github tjek */

a {
  
  color: #FFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-bar li {
  list-style: none;

}

.bar {

  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #F5F5F5;
  position: relative;
  z-index: 101;
  display: block;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  
}

.bar.active {
  background-color: #4831D4;
}
.hamburger {
  z-index: 101;
  position: relative;
  display: none;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4831D4; 
  text-align: center;
  display: flex;
  align-items: center;
  height: 100px;
  
  z-index: 100; 
  
}


.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  overflow: hidden;
}

.nav-bar a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFF;
}



.imgemil {
  display: flex;
  height: 80%;
  margin-left: 4%;
}

.icon-container {
  display: flex;
width: 220px;
justify-content: space-between;
margin-bottom: 0px;
padding-left: 20px;
}

.line1 {
  top: 30px;
  padding-left: 20px;
}

.aside-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.asideh3 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; 
  padding-bottom: 20px;
}

.Sprog {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;

}

aside p {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.6%;
  padding-top: 10px; 
  padding-bottom: 10px;
}

p {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.6%; 
}

hr {
  display: flex;
  background-color: #CCF381;
  height: 5px; 
  border: 1px solid #fff; 
  border-radius: 30px;
  margin: 0 auto; 
  width: 220px;
  margin-left: 0px;
  
}

.hr1 {
  background: linear-gradient(to right, #CCF381 100%, transparent 50%);
}

.hr2 {
  background: linear-gradient(to right, #CCF381 80%, transparent 50%);
}

.hr3 {
  background: linear-gradient(to right, #CCF381 50%, transparent 50%);
}

.hr4 {
  background: linear-gradient(to right, #CCF381 90%, transparent 50%);
}

.hr5 {
  background: linear-gradient(to right, #CCF381 80%, transparent 50%);
}

.hr6 {
  background: linear-gradient(to right, #CCF381 70%, transparent 50%);
}

.hr7 {
  background: linear-gradient(to right, #CCF381 65%, transparent 50%);
}

.hr8 {
  background: linear-gradient(to right, #CCF381 65%, transparent 50%);
}


.line2 {
  margin-top: 70px;
  padding-left: 20px;
  top: 30px;
}

.line3 {
  margin-top: 60px;
  padding-left: 20px;
  top: 30px;
}

.line4 {
  margin-top: 60px;
  padding-left: 20px;
  top: 30px;
}

.row {
  display: flex;
  align-items: center; 
}

.row img {
  max-width: 100%; 
  margin-right: 10px; 
}

.row p {
  margin-left: 10px; 
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: #CCF381;
  border: none;
  color: #4831D4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.buttonCV {
  margin: 4px 2px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
width: 220px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-direction: row;
}

.aside-wrapper {
  display: flex; 
  align-items: flex-start;
  margin-top: 10%;
  justify-content: flex-start;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.side-wrapper {
  display: flex;
  flex-direction: column;

}

.introname {
  color: #F5F5F5;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; 
  width: 700px;
  flex-shrink: 0;
}

.frontend {
  color: #CCF381;
}

.container{
  
  overflow: hidden;
}
.container .text{
  position: relative;
  color: #CCF381;
  font-size: 60px;
  font-weight: 700;
}
.container .text.first-text{
  color: #FFF;
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4831D4;
  border-left: 2px solid #F5F5F5;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}

.introsection {
  display: flex;
  flex-direction: row;
}

.introp {
  color: #F5F5F5;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 540px;
  flex-shrink: 0;
  line-height: 27px;
  margin-bottom: 50px;
}

.img-dev {
  width: 40%;
  height: 40%;
  margin-left: 70px;
  margin-top: 40px;
  display: inline-block;
  clear: both;
}

.introdiv {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 20px;
  clear: both;
}

.buttonhire {
  display: flex;
  padding: 16px 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 4px 2px;
  width: 220px;
  margin-top: 20px;
}

.aboutme {
  display: flex;
  margin-top: 120px;
  font-size: 18px;
  
}
.img-me {
  width: 40%;
  height: 40%;
  margin-top: 20px; 
  margin-left: 70px; 
  padding: 20px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  
}

.textabout p {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  margin-top: 20px;
  text-align: left;
}
.textabout {
  text-align: center;
  margin-left: 200px;
  color: #F5F5F5;
  font-size: 18px;
  width: 600px;
  margin-top: 60px;
  padding: 40px;
}


.box-text {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;

}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.box {
  width: 20%;
  height: 40rem;
  background-color: white;
  border: 5px solid #4831D4;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
  padding: 40px;
  position: relative;
}

h3 {
  color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 123.6%; 
} 

.small-p {
    max-width: 30%; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the element horizontally */
  
}

.box p {
  color: #000000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; 
  margin-top: 20px;
  text-align: center;
}

.icon-row {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.icon-row img {
  margin: 0 20px; /* Adjust the margin between icons */
}

h2 {
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; 
}

h4 { 
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; 
  padding: 50px;
}
  .widebox {
    display: flex;
    flex-direction: column;
    max-width: 57%;
    justify-content: center;
    margin: 0 auto; 
}



.widebox1,
.widebox2,
.widebox3 {
  display: flex;
  background-color: white; /* Set background color to white */
  padding: 20px; /* Add padding to the boxes for spacing */
  border-top: grey 1px solid; /* Add a grey border to the top of the boxes */
  width: 100%;
  

}

.wide p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.6%; 
  margin-top: 20px;
  align-items: center;
  width: 80%;
  
}
  
.widebox p {
  color: #000000;
  
  display: flex;
  flex-direction: column;

}

.wide {
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-between;
}

h5 {
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; 
  padding: 30px;
}

h6 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; 
  padding: 30px;
}

.port-1 p {
  max-width: 40%; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the element horizontally */
  padding-bottom: 50px;
}
.portbox-container {
  display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 350px);
      grid-template-rows: repeat(3, 350px);
      justify-content: center;
}

.portbox {
 
  padding: 5px;
  border-radius: 5px;
  display: grid;
  place-items: center;
 
  background-color: white;
  border: 1px solid #4831D4; /* Add a border for better visibility */;
  display: grid;
  
}

.portbox img {
  width: 100%; /* Make the image width 100% of the container width */
  height: 100%; /* Make the image height 100% of the container height */
  object-fit: cover; /* Scale the image to cover the entire container */
}

.portbox a {
  display: block; /* Make the anchor a block-level element */
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove the default underline style */
  transition: opacity 0.3s; /* Add a smooth transition effect on hover */
}


.contact-container {
  display: flex;
  margin: 0 auto;
  width: 57%;
  margin-top: 50px;
  gap: 20px;
  padding-bottom: 40px;
  align-items: center;
  align-content: center;
}

.box-leftholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
 
}

.box-left {
  
  background-color: #F5F5F5;
  border: 1px solid #4831D4;
 padding: 10px;
  width: 90%;
  
}

.box-right {
  display: flex;
  flex-direction: column;
  background-color: #4831D4;
  max-width: 40%;
  gap: 20px;
  
}

.box-right p {
  color: #000000;
}
.contact-box1 {
  padding: 10px;
  background-color: #F5F5F5;
}

.contact-box2 {
  padding: 10px;
  background-color: #F5F5F5;
}

.contact-box3 {
  padding: 10px;
  background-color: #F5F5F5;
}


.contact-form {
  display: block;
}

.contact-form label,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form button[type="submit"] {

  display: block;
  margin-bottom: 20px;
  text-align: left; /* Align elements to the left */
  font-family: poppins;
}

.form-group {
  margin-bottom: 20px;

}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #CCF381;
  color: #4831D4;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

label {
  color: #000000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.6%; 
  margin-top: 20px;
  text-align: left;
  
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: left; /* Align input fields and textareas to the left */
}

textarea#message {
  height: 270px; /* Adjust the height value to your preferred height */
}

.box-right p {
  display: flex;
  flex-direction: row;
}

.align-text1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.box {
  width: 20%;
  height: 40rem;
  background-color: white;
  border: 5px solid #4831D4;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
  padding: 40px;
  position: relative;
}

.portbox-container {
  display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 350px);
      grid-template-rows: repeat(3, 350px);
      justify-content: center;

}

.contact-container {
display: flex;
margin: 0 auto;
width: 57%;
margin-top: 50px;
gap: 20px;
padding-bottom: 40px;
align-items: center;
align-content: center;

}

.box-leftholder {
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
width: 100%;
}

.box-left {

background-color: #F5F5F5;
border: 1px solid #4831D4;
padding: 10px;
width: 90%;

}

.box-right {
display: flex;
flex-direction: column;
background-color: #4831D4;
max-width: 40%;
gap: 20px;
height: 80vh;
}

.box-right p {
color: #000000;
}

.contact-box1 {
padding: 10px;
background-color: #F5F5F5;
height: 30%;
}

.contact-box2 {
padding: 10px;
background-color: #F5F5F5;
height: 30%;
}

.contact-box3 {
padding: 10px;
background-color: #F5F5F5;
height: 40%;
}

.contact-box1 p,
.contact-box2 p,
.contact-box3 p {
  padding: 10px;
}

.contact-form {
display: block;
}

.contact-form label,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form button[type="submit"] {

display: block;
margin-bottom: 20px;
text-align: left; /* Align elements to the left */
font-family: poppins;
}

.form-group {
margin-bottom: 20px;

}

label {
display: block;
margin-bottom: 5px;
}

input[type="text"],
textarea {
width: 50%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

button[type="submit"] {
background-color: #CCF381;
color: #4831D4;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
text-align: left;
}

label {
color: #000000;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 123.6%; 
margin-top: 20px;
text-align: left;

}

input[type="text"],
input[type="email"],
textarea {
width: 90%;
border: 1px solid #ccc;
border-radius: 2px;
text-align: left; /* Align input fields and textareas to the left */
}

textarea#message {
height: 270px; /* Adjust the height value to your preferred height */
}

.box-right p {
display: flex;
flex-direction: row;
}

.align-text1 {
display: flex;
flex-direction: row;
justify-content: space-between;
}


@media screen and (max-width: 768px) {
  nav {
    height: 60px; /* Adjust height for tablets */
   width: 100%; 
  }
  .nav-bar a {
    font-size: 12px; /* Decrease font-size for tablets */
    
  }

  .nav-bar {
    justify-content: flex-end;
    margin-right: 20px;
  }

  .small-p {
    max-width: 70%; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the element horizontally */
    margin-top: 40px;
  }
 .nav-menu {
    flex-direction: column;
    position: absolute;
    right: -100%;
    transition: 0.3s;
    background-color: #CCF381;
    width: 40%;
    height: 100vh;
    top: 0;
    justify-content: flex-start;
    padding-top: 100px;
    gap: 20px;
    text-align: left;
    padding-left: 20px;
  }
  
  .nav-menu a {
    font-size: 20px;
    color: #4831D4;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1000;
    position: relative;
  }

  .nav-menu.active {
    right: 0;
  }

  .line1 {
    display: none;
  }

  .line2 {
    display: none;
  }

  .line3 {
    display: none;
  }

  .line4 {
    display: none;
  }

  .Sprog {
    display: none;
  }

  aside p {
    font-size: 12px;
   
  }

  .buttonCV {
    display: none;
  }
  .asideh3 {
    font-size: 12px;
  }

  hr {
    display: none;
  }
 .aside-content {
   
   display: none;
   
 }

 .introsection {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
 }

 .img-dev {
  justify-content: center;
  width: 50%;
  height: 50%;

}

.introname {
  font-size: 30px;
  width: 100%;
  padding: 20px; 
  
}

span.text.sec-text {
  font-size: 30px;
}


.aboutme {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin: 0 auto;
  justify-content: center;
}

.img-me {
  width: 60%;
  height: 60%; 
  padding: 0px;
  margin: 0 auto;
}

.textabout {
  text-align: center;
  color: #F5F5F5;
  width: 100%;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
}

.textabout h2 {
  font-size: 30px;
}

.textabout p {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  padding: 20px;
  
}

.box-text {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 20px;  
  padding: 0;
}

.box-text p {
  font-size: 18px;
  line-height: 30px;
  

}

.box-text h3 {
font-size: 30px;

}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.box {
  width: 100%;
}

.box p {
  width: fit-content;
}

h4 {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.widebox {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  justify-content: center;
  
}

.pbox {
  width: 100%;
  display: flex;
  align-items: center;
}

.widebox p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
  width: 100%;
  
}

h5 {
  font-size: 30px;
  display: flex;
  display: flex;
  justify-content: center;
}

.port-1 p {
  max-width: 60%; 
  padding-bottom: 50px;
  
}
.portbox-container {
  display: grid;
      grid-gap: 2px;
      grid-template-columns: repeat(2, 250px);
      grid-template-rows: repeat(2, 250px);
      justify-content: center;
      
}
.portbox {
  align-items: center;
  justify-content: fit-content;
  
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  margin-top: 0px;
  gap: 20px;
  padding-bottom: 40px;
  align-items: center;
  align-content: center;
  
}


.contact-box1 p,
.contact-box2 p,
.contact-box3 p {
  padding: 10px;
  background-color: #F5F5F5;
  font-size: 10px;
  
}
}
/* Mobile (320px to 480px) */

@media screen and (max-width: 480px) {
.nav-bar {
padding: 5px; /* Add padding for mobile */
padding: 0 0px;
}

.nav-menu.active {
  height: 200vh;
  top: 0;

}
.imgemil {
margin-left: 0; /* Remove margin for mobile */
width: 15%; /* Adjust width for mobile */
}

.icon-container {
width: auto;
padding-left: 0;
flex-direction: column; /* Stack icons vertically for mobile */
}

p {
font-size: 12px; /* Decrease font-size for mobile */
} 

.textabout {
  display: flex;
  
}

.box-text {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
  margin: 0 auto;
  
}

.aboutme {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.small-p {
  display: flex;
  flex-direction: column;
  width: 90%;
 
}

.box-text p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  display: flex;
  
}

.box-text h3 {
font-size: 30px;
width: 145%

}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.pbox {
  width: 145%
}
.box {
  width: 167%
}

pbox p {
  width: 100%;
}
.box p {
  width: fit-content;
}

h4 {
  font-size: 30px;
  display: flex;
  margin-left: 150px;
}

.widebox {
  display: flex;
  flex-direction: column;
  max-width: 100%;  
  justify-content: center;
  padding-left: 40px;
}

.widebox p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  
}

.wide {
  display: flex;
  flex-direction: column;
}

.widebox1,
.widebox2,
.widebox3 {
  display: flex;
  background-color: white; /* Set background color to white */
  padding: 20px; /* Add padding to the boxes for spacing */
  border-top: grey 1px solid; /* Add a grey border to the top of the boxes */
  width: 145%;
  
  

}
h5 {
  font-size: 30px;
  display: flex;
  display: flex;
  justify-content: center;
}

.port-1 {
  width: 150%; 
  padding-bottom: 50px;
  
}
.portbox-container {
  display: grid;
      grid-gap: 2px;
      grid-template-columns: repeat(2, 250px);
      grid-template-rows: repeat(2, 250px);
      
      
}
.portbox {
  align-items: center;
  justify-content: fit-content;
  
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 150%; 
  margin-top: 0px;
  gap: 20px;
  padding-bottom: 40px;
  align-items: center;
  align-content: center;
  
}


.contact-box1 p,
.contact-box2 p,
.contact-box3 p {
  padding: 10px;
  background-color: #F5F5F5;
  font-size: 10px;
  
}




}

